header {
    @include media (320px, 599px) {
        width: 100%;
        height: 700px;
        & .container {
            width: 320px;
        }
        & .bg-linear-gradient {
            & div {
                & .menu {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    align-items: center;
                    & nav {
                        margin-left: 10px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        & a {
                            margin-top: 10px;
                        }

                    }
                }
                & .header-text {
                    margin-left: 10%;
                    & h1 {
                        font-size: 30px;
                        width: fit-content;
                        margin-top: 100px;
                    }
                    & p {
                        font-size: 18px;
                        width: fit-content;

                    }
                }
            }
        }
    }
}
.card {
    @include media (320px, 599px) {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        justify-items: center;
        & div {
            margin-top: 30px;
            width: 320px;
            height: 400px;
            & .card-under {
                margin-top: 265px;
            }
        }
        
    }
}
.content-block {
    @include media (320px, 599px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        & div {
            & h2 {
                font-size: 30px;
            }
            & div {
                & div {
                    & div {
                        & h3 {
                            font-size: 20px;
                        }
                        & p {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
        

        & .right-block {
            margin-top: 30px;
            margin-left: 0px;
            padding-left: 0px;
            & .img-right-block {
                
                width: 320px;

            }
            & .bg-img-right-block {
                display: none;
            }
        }
    }
}
.search-block {
    @include media (320px, 599px) {
        width: 320px;
        height: 500px;
        & h2 {
            font-size: 20px;

        }
        & p {
            font-size: 15px;
        }
        & div {
            width: 300px;
        }
        & input {
            width: 150px;
        }
    }
}
.gallery-block {
    @include media (320px, 599px) {
        width: 320px;
        & h2 {
            margin-left: 10%;
            width: fit-content;
        }
        & div {
            display: grid;
            grid-template-columns: 1fr;
            grid-column-gap: 0;
            grid-row-gap: 10px;
            width: 320px;
            align-content: center;
            justify-content: center;
        }
    }
}
footer {
    @include media (320px, 599px) {
        height: 1200px;
        width: 100%;
        & .container {
            width: 100%;
        }
        & div {
            & .footer-head {
                height: 250px;
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
            }
            & .footer-content {
                display: grid;
                width: 100%;
                & h2 {
                    display: none;
                }
                grid-template-columns: 1fr 1fr ;
                & div {
                    align-items: center;
                    & div {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        & p {
                            margin-right: 0px;
                        }
                    }
                }
            }
            & .footer-end {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                & p {
                    display: none;
                }
                & .footer-img-link {
                    & a {
                        & img {
                            margin-top: 10px;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
}